source https://www.nuget.org/api/v2/
framework >= net45
redirects: on

nuget EventStore.Client
nuget Newtonsoft.Json
nuget Newtonsoft.Json.FSharp
nuget FSharpx.Collections
nuget WindowsAzure.Storage
nuget FSharp.Control.AsyncSeq
nuget Streamstone
